# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.envrc
*.env

# Dataset and model files
UCI HAR Dataset/
har_mlp.pth

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Test and coverage reports
htmlcov/
.coverage
*.cover
*.py,cover